---
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import CommentSection from "@/components/CommentSection";
import CommentSubmission from "@/components/CommentSubmission";
import EventAttendCard from "@/components/EventAttendCard";
import EventDetailsSection from "@/components/EventDetailsSection";
import EventImages from "@/components/EventImages";
import EventPeopleSection from "@/components/EventPeopleSection";

const { eventId } = Astro.params;

let hostName = "Karan Swansi";
let eventName = "Financial Workshop Open House";
let eventLocation = "3726 E Main St, College Park, GA 30337";
let recurringInfo = {
	text: "Every week on Saturday",
	until: ""
};
let attendees = [
	{ name: "Rodney Edge Sr.", role: "Organizer" },
	{ name: "Laura Loughin", role: "Organizer" },
	{ name: "Karan Swansi", role: "organizer" }
];
let carpoolers = [
	{ name: "Samantha A." },
	{ name: "Robert D." },
	{ name: "Luisana B." },
	{ name: "Emilia R." },
	{ name: "Jonathan A." },
	{ name: "Karan S." },
	{ name: "Marciano G." },
	{ name: "Cormac B." }
];
let meetingTimes = [
	{
		day: "Saturday",
		date: "September 21, 2024",
		time: "5:00pm - 6:00pm",
		until: "October 6, 2024"
	},
	{
		day: "Saturday",
		date: "September 21, 2024",
		time: "5:00pm - 6:00pm",
		until: "October 6, 2024"
	},
	{
		day: "Saturday",
		date: "September 21, 2024",
		time: "5:00pm - 6:00pm",
		until: "October 6, 2024"
	}
];
let relatedEvents = [
	{
		name: "Motel to Home Resources",
		description:
			"Learn about the programs we offer and see if you are eligible today!"
	},
	{
		name: "Volunteering Opportunities",
		description:
			"Participate in our fundraising events to support families and individuals thrive"
	},
	{
		name: "Volunteering Opportunities",
		description:
			"Participate in our fundraising events to support families and individuals thrive"
	}
];
let comments = [
	{
		name: "John Doberman",
		date: "Mar 12 2020",
		comment: "Great event! Felt supported and safe"
	},
	{
		name: "Robert D.",
		date: "Mar 12 2020",
		comment:
			"I will recommend CRP to all my friends and family. You are changing lives thank you"
	},
	{
		name: "Rodney Edge",
		date: "Mar 12 2020",
		comment:
			"It was amazing I got to meet new folks and I love the car sharing feature!"
	},
	{
		name: "Karan Swansi",
		date: "Mar 12 2020",
		comment:
			"I feel blessed to be part of CRP. Highly recommend coming to our open houses if you haven’t come yet."
	}
];

const eventDetails = 0;
---

<Layout title="Event Details">
	<!-- I completely forgot why we have two outer containers, but it works -->
	<main class="flex flex-col items-center h-full">
		<div class="flex flex-col w-full max-w-[1100px] px-8 gap-16">
			<!-- report button and hidden add to calendar button -->
			<div
				class="flex gap-2 h-16 rounded-tl-lg fixed bottom-0 right-0 p-2"
			>
				<button
					class="md:hidden w-full p-3 text-sm rounded-md text-white bg-purple-500"
				>
					Attend
				</button>
			</div>

			<div
				class="grid md:grid-cols-[minmax(250px,1000px)_minmax(300px,300px)] gap-8"
			>
				<div class="flex flex-col gap-14">
					<EventImages eventId={eventId} client:only="react" />

					<EventDetailsSection
						eventId={eventId}
						client:only="react"
					/>

					<EventPeopleSection eventId={eventId} client:only="react" />
				</div>
				<EventAttendCard eventId={eventId} client:only="react" />
				<!-- column 2 / add to calendar + address = map-->
			</div>

			<!-- People are also interested in (top margin is in gap property of parent) -->
			<section>
				<h2 class="font-semibold text-xl pb-3 text-gray-700">
					People are also interested in
				</h2>
				<div class="grid grid-cols-3 gap-5">
					{
						relatedEvents.map((relatedEvent) => (
							<div
								class="flex flex-col rounded-lg relative
                            duration-200 hover:shadow-[0_0_0_0.75rem_rgba(0_0_0_/_5%)] hover:bg-[rgb(0_0_0_/_5%)]
                            focus-within:shadow-[0_0_0_0.75_rgba(0_0_0_/_5%)] focus-within:bg-[rgb(0_0_0_/_5%)]"
							>
								<div class="w-full aspect-square bg-black mb-3 rounded-lg shadow-sm">
									{" "}
								</div>
								<p class="font-semibold text-gray-700">
									{relatedEvent.name}
								</p>
								<p class="text-sm text-gray-400">
									{relatedEvent.description}
								</p>
								{/* I couldn't come up with this even if I tried.
                                It is the pseudo-content trick: https://inclusive-components.design/cards/ */}
								<a
									class="after:absolute after:inset-0 focus:outline-none"
									href="/events"
								/>
							</div>
						))
					}
				</div>
			</section>
			<!-- Comment Section (top margin is in gap property of parent)-->
			<!-- <section class="max-w-[600px]">
				<h2 class="font-semibold text-xl mb-10 text-gray-700">
					What is our Community Saying?
				</h2>
				<div class="flex flex-col gap-11 w-full">
					{
						comments.map((comment) => (
							<div>
								<div class="flex gap-6">
									<div class="w-14 h-14 rounded-full bg-black" />
									<div>
										<h4 class="font-semibold text-gray-700">
											{" "}
											{comment.name}
										</h4>
										<p class="text-gray-400 text-sm">
											{" "}
											{comment.date}
										</p>
									</div>
								</div>
								<p class="text-gray-400 text-sm mt-2">
									{" "}
									{comment.comment}
								</p>
							</div>
						))
					}
				</div>
			</section> -->
			<section class="w-full">
				<h2 class="font-semibold text-xl mb-10 text-gray-700">
					What is our Community Saying?
				</h2>
				<span class="grid gap-8">
					<CommentSubmission eventId={eventId} client:only="react" />
					<CommentSection eventId={eventId} client:only="react" />
				</span>
			</section>
		</div>
	</main>
</Layout>
